$nav-height: 4rem;

*{
	margin:0;
	padding:0;
	color: #fff;
	list-style: none;
	text-decoration: none;
	font-family: 'youyuan';
	/*font:16px/1.8 "Microsoft Yahet",verdana;*/
    font-weight: normal;
}

.clearfix::after {
    clear: both;
    display: block;
    content: '';
  }

.flex {
    display: flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.fp-prev{
    left: 4rem !important;
    border-width: 19px 17px 19px 0 !important;
}
.fp-next {
    right: 4rem  !important;
    border-width: 19px 0 19px 17px !important;
}
/deep/ {
   .fp-slidesNav {
        text-align: center;
        bottom: 3% !important;
        ul {
            li {
                span {
                    background-color: #fff;
                }
            }
        }
    } 
}
.fp-right{
    ul {
        li {
            a {
                span {
                    background: #fff !important;
                }
            }
            
        }
    }
}


